nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

nav ul {
  display: -webkit-flex;
  display: flex;
}

nav ul > li {
  list-style: none;
  display: -webkit-box;
  display: box;
  -webkit-flex: 1;
  flex: 1;
}

#content {
  padding-top: 100px;
}

.example {
  width: 200px;
  margin: 100px auto;
}

.example ella-cube-face {
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.example.words {
  width: 300px;
  margin: 100px auto;
}

.example.words ella-cube-face {
  font-size: 84px;
}

.example.pictures {
  width: 300px;
}

.example.pictures ella-cube-face {
  background-color: white;
}

.example.pictures ella-cube-face img {
  max-width: 240px;
  max-height: 240px;
}
