$cube-face-border-color: #121212;

$cube-face-bg-1: rgba(#1E65C7, 0.8);
$cube-face-bg-2: rgba(#1FC71E, 0.8);
$cube-face-bg-3: rgba(#A5004D, 0.8);
$cube-face-bg-4: rgba(#B388C6, 0.8);
$cube-face-bg-5: rgba(#F07524, 0.8);
$cube-face-bg-6: rgba(#88A1C6, 0.8);
